<nav class='navbar'>
	<div class='left-side'>
		<img src='./imgs/logo.png' alt='Logo' width='100px' />
		<a href='/'>
			<h2>Today's News</h2>
		</a>
	</div>
	<div class='right-side'>
		<a href='#'>Top Headlines</a>
		<form action='/search' method='get'>
			<input type='text' placeholder='Search for news...' id='query-input' name='q' />
			<button type='submit'>Search</button>
		</form>
	</div>
</nav>

<section class='container' id='news'>
	<h1>Top News</h1>
	<h2>Find the best news from all around the world</h2>

	<div class='news-grid'>
		<div class='card'>
			<h3>This is my news</h3>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, est.</p>
			<a href='#'>See more</a>
		</div>
		<div class='card'>
			<h3>This is my news</h3>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, est.</p>
			<a href='#'>See more</a>
		</div>
		<div class='card'>
			<h3>This is my news</h3>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, est.</p>
			<a href='#'>See more</a>
		</div>
	</div>

</section>