<nav class='navbar'>
	<div class='left-side'>
		<img src='./imgs/logo.png' alt='Logo' width='100px' />
		<a href='/'>
			<h2>Today's News</h2>
		</a>
	</div>
	<div class='right-side'>
		<a href='#'>Top Headlines</a>
		<form action='/search' method='get'>
			<input type='text' placeholder='Search for news...' id='query-input' name='q' required />
			<button type='submit'>Search</button>
		</form>
	</div>
</nav>

<section class='container' id='news'>
	<h1>Top News</h1>
	<h2>Find the best news from all around the world</h2>

	<div class='news-grid'>
		{{#each articles}}
			<div class='card'>
				<h3>{{this.title}}</h3>
				<p>{{this.description}}</p>
				<a href={{this.url}}>See more</a>
			</div>
		{{/each}}
	</div>

</section>